*, *::before ,*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

body{
    background-color: black;
}
h1{
    color: white;
    text-align: center;
    margin-top: 5vh;
}
#videoBar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
video{
    margin-top: 10vh;
    border: 2px solid red;
    box-shadow:2px 3px 3px black;
    height: 70vh;
}